$color--brand: rgb(111,177,208);
$color--brand-transparent: rgba(111,177,208,.8);

$color--text-main: #333333;
$color--text-footer-grey: #d5d5d5;
$color--text-light-grey: #767676;
$color--text-extra-light-grey: #a3a3a3;
$color--text-super-light-grey: #f2f2f2;

$color--border-grey: #DADADA;

$color--grey-bg: #CFCFCF;